* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

nav a {
    font-weight: bold;
    margin: 0 0.5rem;
    text-decoration: underline;
}

